body {
   padding: 150px;
   background-image: url("batman2.gif");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 800px 1300px;
   color: white;

}
#box1 {
    margin-left: 0px;
}
.box2 {
    margin-left: 0px;
}
.box3 {
    color: red;
}
